.profile{
    max-width: 600px;
}

.userPic{
    width:100px;
    height:100px;
    border: 2px solid;
    border-radius: 50px;
    display: block;
    background-color: white;
    z-index: 2002;
}


